/* color: #212121;=> цвет заголовков
color: #757575;=> основной текст 
color: #FFFFFF;=> секция герой, футер лого и ссылка на локальный адрес
color: rgba(255, 255, 255, 0.6); => футер ссылки 
color: #2196F3=> состояние :hover и :focus
( часть лого Web)
background: #2196F3; Интарктивные части 
color: #188ce8; 

*/
:root {
	--primary-text-color: #757575;
	--title-text-color: #212121;
	--accent-color: #2196f3;
	--primary-white-color: #ffffff;
	--primary-bg-color: #f5f4fa;
	--bgc-color-section: #2f303a;
	--background-color-primary: #e5e5e5;
	--logo-color: #000000;
	--text-color-a-canal: rgba(255, 255, 255, 0.6);
}
body {
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
	font-family: Roboto, sans-serif;
	letter-spacing: 0.03em;
	font-size: 14px;
	line-height: 1.71;
	font-weight: 400;
}
/* сброс точек */
.list {
	list-style: none;
}
/* логотип */
.logo {
	color: var(--accent-color);
	font-family: Raleway, sans-serif;

	font-weight: 700;
	font-size: 26px;
	line-height: 1.2;
	text-decoration: none;
}
.logo-text {
	color: var(--logo-color);
}

/* site-nav */
.site-nav .link {
	color: var(--title-text-color);

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-color);
}
.site-nav .link.current {
	color: var(--accent-color);
}
/* телефон эмейл */
.auth-nav .link {
	color: var(--primary-text-color);

	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: none;
}
.auth-nav .link:hover,
.auth-nav .link:focus,
.auth-nav .link .footer-text:hover,
.auth-nav .link .footer-text:focus {
	color: var(--accent-color);
}
/* Заголовки */
.section-title {
	color: var(--title-text-color);
}
.section-title.primary {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
}
.section-title.team {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
}

/* Hero */
.hero-title {
	color: var(--primary-white-color);

	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 0.06em;
}
.hero {
	background-color: var(--bgc-color-section);
}
/* benefits */
.section-title.benefits {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
}
/* team */
.team-text {
	font-size: 16px;
	line-height: 1.2;
}
/* КНОПКИ button */
.hero .button {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
}
.hero .button:hover,
.hero .button:focus {
	background-color: #188ce8;
}
.button {
	background: var(--primary-bg-color);
	color: var(--title-text-color);
	font-family: 'Roboto';
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;
	text-decoration: none;
	cursor: pointer;
}
.button:hover,
.button:focus {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}
.button.current {
	background-color: var(--accent-color);
}
/* FUTER */
/* физический адрес */
.link-gm {
	color: var(--primary-white-color);
	font-style: normal;
	text-decoration: none;
}
.footer {
	background-color: var(--bgc-color-section);
}

.footer .logo-text {
	color: var(--primary-white-color);
}
.footer-link {
	color: var(--text-color-a-canal);

	font-style: normal;
	font-weight: 400;
	text-decoration: none;
}

/* картинки фон */
.list-img {
	background-color: var(--primary-white-color);
}
.section-team {
	background: var(--primary-bg-color);
}
/* portfolio */
.section-title.portfolio {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}
.portfolio-text {
	color: var(--primary-text-color);
	font-size: 16px;
	line-height: 1.88;
}
.link-portfolio {
	text-decoration: none;
}
